/* Import Google Font - Poppins */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  top: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border-radius: 22px;
  background: #e9e6e2;
  box-shadow:  9px 9px 39px #cdcac7,
               -9px -9px 39px #fffffd;
}

.container{

  width:60%;
  height:600px;
  overflow: hidden;
  border-radius: 10px;
  transition: height 0.2s ease;
  border-radius: 22px;
  border-radius: 22px;
  background: #e9e6e2;
  box-shadow:  13px 13px 26px #cdcac7,
               -13px -13px 26px #fffffd;
}

.scroll{
  height:430px;
overflow:auto;

}

.heading{
  left: 50%;
  padding: 20px 20px 20px 10px;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color:#ff9800;

  
}

.mainpage{
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 15px;
  display: flex;
 
 width: 47%;
 padding-left: 3px;
  background: #f2f0ee;
 
  box-shadow:  13px 13px 26px #d5d3d1,
               -13px -13px 26px #ffffff;
}
/* right message */
.right{
  float: right;
  border-radius: 22px;
  border-top-right-radius: 0px;
  background: #ff9800;
  color:#2e2d2be1;
  box-shadow:  13px 13px 26px #d5d3d1, -13px -13px 26px #ffffff;
            
}
.msg_right_text{
  padding:40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 2px 2px 2px 20px;
}
.msg_right_date{
  padding-left: 310px;
  margin: 1px;
  font-size: 12px;
  color:#2e2d2be1;
}


.right_msg_head{
  display: flex;
  position: relative;
  align-items: center;
  padding: 3px;
}

.right_msg_avater {
  width: 22px;
  margin-left: 10px;
}

.msg_right_username {
  font-size: medium;
}




/* end of right message */

/* left message */
.left{
  
  border-radius: 22px;
  border-top-left-radius: 0px;
  background: #fff;
  color:#2e2d2be1;
  box-shadow:  13px 13px 26px #d5d3d1, -13px -13px 26px #ffffff;
            
}
.msg_left_text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 2px 2px 2px 20px;
}
.msg_left_date{
  padding-left: 310px;
  margin: 1px;
  font-size: 12px;
  color:#2e2d2be1;

}


.left_msg_head{
  display: flex;
  position: relative;
  align-items: center;
  padding: 3px;
}

.left_msg_avater {
    width: 22px;
  margin-right: 10px;
}

.msg_left_username {
  font-size: medium;
}


/* end of left message */


















.editlist{
  padding: 0px;

float: right;

border: none;

}



.typo{
  
  font-size: 15px;
  margin: 3px;
  padding: 2px 2px 2px 1px;
}
.date{
  float: right;
  margin: 1px;
  padding-right: 14px;
  font-size: 15px;
  color: #ff9800;
}

hr{
  height: 5px;
  border-radius: 15px;
background-color: #ff9800;
}


/* send list input and  button */
.listcont{
  width: 80%;
  outline-width: 0;
  border: none;
  padding: 10px 15px;
  margin:  15px;
  border-radius: 999px;
  background-color: #eff2f5;
  color: #ff9800;
  font-size: 22px;

}
.listcont:focus{
 border:1px solid #ff9800;

}
.listcont:hover{
  border:1px solid #ff9800;
 
}

.send{
  align-items: center;
  width: 90px;
  height: 50px;
  outline: none;
  border-radius: 999px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background: #eff2f5;
  color: #fff;
  transition:0.4s;
}
.send img{
  border: none;
  width: 25px;
  
}

.send:hover{
  border:1px solid #ff9800;

}


@media (max-width: 500px){
.container{
 
  width:99%;
  height:900px;
}

.scroll{
  height:730px;
overflow:auto;

}

.listcont{
  width: 64%;
   
}

.send{
  width: 70px;
  height: 50px;

}


.mainpage{
 
 width: 80%;
}

}
